.border-container{
padding: auto;
margin: auto;
}
.parent-container-1{
    display: flex;
    justify-content: space-between;
}
.child-1{
    height: 100px;
    flex: 0.4;
    background-color: dimgray;
}
.child-2{
    height: 50px;
    flex: 0.2;
    background-color: dimgrey;
}
.parent-container-2{
    display: flex;
    justify-content: center;
    padding: 2%;
    margin: 13px; ;
}
.child-3{
    height: 90px;
    flex: 0.4;
    background-color: dimgray;
}
.parent-container-3{
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 13px;
}
.child-4{
    height: 17px;
    flex:0.1 ;
    background-color: dimgrey;
}
.border-container-1{
    
    padding: 10px;
    background-color: black;
    
}
.parent-container-4{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.child-5{
    height: 30px;
    flex: 0.3;
    background-color: dimgrey;
    margin: 2%;
}
.child-6{
    height: 50px;
    flex: 0.3;
    background-color: dimgray;
    margin: 2%;
}
.child-7{
    height: 30px;
    flex: 0.3;
    background-color: dimgray;
    margin: 2%;
}
.parent-container-5{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
.child-8{
    height: 20px;
    flex: 0.3;
    background-color: dimgrey;
    margin: 2%;
}
.child-9{
    height: 70px;
    flex:0.7;
    background-color: dimgray;
    margin:2% ;
    margin-left:7%;

    
}
.parent-container-6{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    
}
.child-10{
    height:20px ;
    flex:0.5 ;
    background-color: dimgrey;
    margin-left: 200px;
}
.parent-container-7{
    display:flex;
    justify-content:center ;
    padding-top: 2%;
}
.child-11{
    height: 60px;
    flex: 0.4;
    background-color: dimgrey;
    margin-left : 27%;
}.child-12{
    height: 25px;
    flex: 0.3;
    background-color: dimgrey;
    margin-left: 3%;
}
.parent-container-8{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.child-13{
    height: 40px;
    flex: 0.3;
    background-color: dimgrey;
    margin-right: 20px;
}
.child-14{
    height: 40px;
    flex: 0.3;
    background-color: dimgrey;
    margin-right: 20px;
}
.child-15{
    height: 40px;
    flex: 0.3;
    background-color: dimgrey;
margin-right: 200px;
}
.child-16{
    height: 20px;
    flex: 0.2;
    background-color: dimgrey;
    margin-top: 10px;
}
.border-container-2{
    padding: auto;
    background-color: black;
    padding: 10px;
}
.parent-container-9{
    display: flex;
    justify-content: space-between;
}
.child-17{
    height: 40px;
    flex: 0.2;
    background-color: dimgrey;
    margin-top: 10px;
}
.child-18{
    height: 40px;
    flex: 0.2;
    background-color: dimgrey;
margin-top: 10px;
}
.parent-container-10{
    display: flex;
    justify-content: space-between;
}
.child-19{
    height: 10px;
    flex: 0.1;
    background-color: dimgrey;
margin-top: 20px;
}
.parent-container-11{
    display: flex;
    justify-content: space-between;
}
.child-20{
    height: 50px;
    flex: 0.7;
    background-color: dimgrey;
margin-top: 20px;
}
.child-21{
    height: 50px;
    flex: 0.2;
    background-color: dimgrey;
margin-top: 20px;
}
.parent-container-12{
    display: flex;
    justify-content: space-between;
}
.child-22{
    height: 10px;
    flex: 0.4;
    background-color: dimgrey;
margin-top: 20px;
}
.parent-container-13{
    display: flex;
    justify-content: space-between;
}
.child-23{
    height: 50px;
    flex: 1;
    background-color: dimgrey;
margin-top: 20px;
}
.parent-container-14{
    display: flex;
    justify-content: space-between;
}
.child-24{
    height: 10px;
    flex: 0.1;
    background-color: dimgrey;
margin-top: 20px;
}
.parent-container-15{
    display: flex;
    justify-content: space-between;
}
.child-25{
    height: 50px;
    flex: 0.7;
    background-color: dimgrey;
margin-top: 20px;
}
.parent-container-16{
    display: flex;
    justify-content: end;
}
.child-26{
    height: 25px;
    flex: 0.1;
    background-color: dimgrey;
margin-top: 20px;
}
.parent-container-17{
    display: flex;
    justify-content: end;
}
.child-27{
    height: 50px;
    flex: 0.7;
    background-color: dimgrey;
margin-top: 20px;
}
.parent-container-18{
    display: flex;
    justify-content: space-between;
}
.child-28{
    height: 10px;
    flex: 0.1;
    background-color: dimgrey;
margin-top: 20px;
}
.parent-container-19{
    display: flex;
    justify-content: space-between;
}
.child-29{
    height: 50px;
    flex: 0.7;
    background-color: dimgrey;
margin-top: 20px;
}
.parent-container-20{
    display: flex;
    justify-content: space-between;
}
.child-30{
    height: 20px;
    flex: 0.2;
    background-color: dimgrey;
margin-top: 20px;
}
.child-31{
    height: 20px;
    flex: 0.5;
    background-color: dimgrey;
margin-top: 20px;
}








